# Fuerza LF para archivos comunes de desarrollo
*.js     text eol=lf
*.ts     text eol=lf
*.jsx    text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.md     text eol=lf
src/components/sections/Hero.mp4 filter=lfs diff=lfs merge=lfs -text
